Repository ihor7016/buxy-ng2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, js-beautify -s 2 -w 80 -r --html

add type, currency in table
  src/app/transactions/table-transactions/table-transactions.component.html
  src/app/transactions/table-transactions/table-transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

rename model => interface
  src/app/accounts/accounts/accounts.component.ts
  src/app/interfaces/account.ts
Due: prettier --write

get rid of main component
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/main/main.component.html
  src/app/main/main.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

add storage as intermidiate
  package-lock.json
  src/app/app.module.ts
  src/app/services/database.service.ts
  src/app/services/storage.service.ts
  src/app/transactions/transactions.module.ts
Due: prettier --write

separate validation methods
  src/app/accounts/account-dialog/account-dialog.component.html
  src/app/accounts/account-dialog/account-dialog.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

add event validation
  src/app/accounts/account-dialog/account-dialog.component.ts
Due: prettier --write

fix
  src/app/auth/auth/auth.component.html
  src/app/auth/auth/auth.component.scss
  src/app/auth/auth/auth.component.ts
  src/app/layout/layout.module.ts
  src/app/layout/toolbar/toolbar-user/toolbar-user.component.html
  src/app/layout/toolbar/toolbar.component.html
  src/app/layout/toolbar/user-button/user-button.component.html
  src/app/layout/toolbar/user-button/user-button.component.scss
  src/app/layout/toolbar/user-button/user-button.component.ts
  src/app/services/auth.service.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

delete place-content
  src/app/layout/toolbar/user-button/user-button.component.scss
Due: prettier --write

remove reduce, ternary
  src/app/accounts/account-dialog/account-dialog.component.ts
  src/app/accounts/accounts/accounts.component.ts
Due: prettier --write

format
  src/app/accounts/accounts/accounts.component.ts
Due: prettier --write

auth dialog
  src/app/auth/auth/auth.component.html
  src/app/auth/auth/auth.component.scss
  src/app/auth/auth/auth.component.ts
  src/app/layout/toolbar/user-button/user-button.component.html
  src/app/styles/dialog.scss
  src/assets/google.png
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

renamed
  src/app/auth/auth/auth.component.html
Due: js-beautify -s 2 -w 80 -r --html

fix
  src/app/auth/auth/auth.component.html
  src/app/auth/auth/auth.component.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

delete margin
  src/index.html
Due: js-beautify -s 2 -w 80 -r --html

change code to symbol
  src/app/accounts/account-dialog/account-dialog.component.html
  src/app/accounts/account-dialog/account-dialog.component.ts
  src/app/accounts/accounts/accounts.component.html
  src/app/accounts/accounts/accounts.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

make dialog
  src/app/auth/auth-dialog/auth-dialog.component.html
  src/app/auth/auth-dialog/auth-dialog.component.scss
  src/app/auth/auth-dialog/auth-dialog.component.ts
  src/app/auth/auth.module.ts
  src/app/auth/auth/auth.component.html
  src/index.html
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

added disableClose
  src/app/auth/auth-dialog/auth-dialog.component.html
  src/app/auth/auth-dialog/auth-dialog.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

delete scroll bars
  src/app/auth/auth-dialog/auth-dialog.component.html
  src/app/auth/auth-dialog/auth-dialog.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

validation
  src/app/auth/auth-dialog/auth-dialog.component.html
  src/app/auth/auth/auth.component.html
  src/app/auth/auth/auth.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

tag validation, fix oninit account
  src/app/accounts/account-dialog/account-dialog.component.ts
  src/app/interfaces/tag.ts
  src/app/tags/tag-dialog/tag-dialog.component.html
  src/app/tags/tag-dialog/tag-dialog.component.ts
  src/app/tags/tags/tags.component.html
  src/app/tags/tags/tags.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

format
  src/app/tags/tag-dialog/tag-dialog.component.ts
Due: prettier --write

fixed width
  src/app/auth/auth/auth.component.ts
Due: prettier --write

corrected the display of the dialog
  src/app/auth/auth-dialog/auth-dialog.component.ts
Due: prettier --write

delete console.log
  src/app/auth/auth-dialog/auth-dialog.component.ts
Due: prettier --write

add validation as in accounts
  src/app/interfaces/transaction.ts
  src/app/transactions/transaction-dialog/transaction-dialog.component.html
  src/app/transactions/transaction-dialog/transaction-dialog.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

format
  src/app/transactions/transaction-dialog/transaction-dialog.component.ts
Due: prettier --write

Revert "add storage as intermidiate"
  package-lock.json
  src/app/app.module.ts
  src/app/services/database.service.ts
  src/app/services/storage.service.ts
  src/app/transactions/transactions.module.ts
Due: prettier --write

clean
  src/app/auth/auth-dialog/auth-dialog.component.html
  src/app/auth/auth-dialog/auth-dialog.component.ts
  src/app/auth/auth/auth.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

delete styles
  src/app/auth/auth-dialog/auth-dialog.component.scss
Due: prettier --write

observable in progress
  src/app/app.module.ts
  src/app/services/database.service.ts
Due: prettier --write

add styles
  src/app/auth/auth-dialog/auth-dialog.component.html
  src/app/auth/auth-dialog/auth-dialog.component.scss
  src/app/auth/auth-dialog/auth-dialog.component.ts
  src/app/styles/dialog.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

delete unneeded styles
  src/app/auth/auth-dialog/auth-dialog.component.html
  src/app/styles/dialog.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

...
  src/app/services/database.service.ts
  src/app/transactions/transactions.module.ts
  src/app/transactions/transactions/transactions.component.html
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

match with auth
  src/app/services/auth.service.ts
  src/app/services/database.service.ts
  src/app/transactions/transactions/transactions.component.html
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

clean
  src/app/transactions/transactions.module.ts
  src/app/transactions/transactions/transactions.component.html
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

rules
  database.rules.json
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write

rules
  database.rules.json
Due: prettier --write

make test
  src/app/transactions/transactions/transactions.component.html
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

fix
  src/app/services/auth.service.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,ts,json,css,scss}
  js-beautify -s 2 -w 80 -r --html: any of: *.html
