Repository ihor7016/buxy-ng2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, js-beautify -s 2 -w 80 -r --html

.lintstagedrc:

{
  "linters": {
    "*.{js,ts,json,css,scss}": ["prettier --write", "git add"],
    "*.html": ["js-beautify -s 2 -w 80 -r --html", "git add"]
  }
}

Revert "retrieve data after path receiving"
  src/app/services/database.service.ts
Due: prettier --write

get path first
  src/app/auth/auth.module.ts
  src/app/services/database.service.ts
Due: prettier --write

format
  src/app/services/database.service.ts
Due: prettier --write

format
  src/app/transactions/table-transactions/table-transactions.component.ts
Due: prettier --write

fromat
  src/app/transactions/table-transactions/table-transactions.component.ts
Due: prettier --write

clean
  src/app/accounts/accounts/accounts.component.ts
Due: prettier --write

add uah data
  src/app/interfaces/transaction.ts
  src/app/services/currency-uah.service.ts
  src/app/services/services.module.ts
  src/app/transactions/transaction-dialog/transaction-dialog.component.html
  src/app/transactions/transaction-dialog/transaction-dialog.component.ts
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

refactor account service
  src/app/accounts/accounts/accounts.component.ts
  src/app/services/abstract.service.ts
  src/app/services/accounts.service.ts
Due: prettier --write

abstract modifier
  src/app/services/abstract.service.ts
Due: prettier --write

generics
  src/app/services/abstract.service.ts
Due: prettier --write

getData fix
  src/app/services/database.service.ts
Due: prettier --write

add uah
  src/app/transactions/transaction-dialog/transaction-dialog.component.html
  src/app/transactions/transaction-dialog/transaction-dialog.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

missing subscribe call
  src/app/accounts/accounts/accounts.component.ts
Due: prettier --write

make stream
  src/app/services/currency-uah.service.ts
  src/app/transactions/bar-chart/bar-chart.component.ts
  src/app/transactions/transaction-dialog/transaction-dialog.component.ts
  src/app/transactions/transactions/transactions.component.html
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

format
  src/app/transactions/bar-chart/bar-chart.component.ts
Due: prettier --write

add abstract
  src/app/services/abstract.service.ts
  src/app/services/transactions.service.ts
Due: prettier --write

added OnInit and clean code
  src/app/accounts/accounts/accounts.component.ts
  src/app/services/abstract.service.ts
Due: prettier --write

draw pie
  src/app/services/color.service.ts
  src/app/services/services.module.ts
  src/app/transactions/bar-chart/bar-chart.component.ts
  src/app/transactions/pie-chart/pie-chart.component.html
  src/app/transactions/pie-chart/pie-chart.component.ts
  src/app/transactions/transaction-dialog/transaction-dialog.component.ts
  src/app/transactions/transactions/transactions.component.html
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

drow pie
  src/app/transactions/bar-chart/bar-chart.component.ts
  src/app/transactions/pie-chart/pie-chart.component.html
  src/app/transactions/pie-chart/pie-chart.component.ts
  src/app/transactions/transactions/transactions.component.html
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

content data show
  src/app/app.module.ts
  src/app/interfaces/transaction.ts
  src/app/services/services.module.ts
  src/app/services/storage/abstract.service.ts
  src/app/services/storage/database.service.ts
  src/app/services/storage/transactions.service.ts
  src/app/services/stotage.module.ts
  src/app/transactions/bar-chart/bar-chart.component.html
  src/app/transactions/bar-chart/bar-chart.component.ts
  src/app/transactions/pie-chart/pie-chart.component.html
  src/app/transactions/pie-chart/pie-chart.component.ts
  src/app/transactions/table-transactions/table-transactions.component.html
  src/app/transactions/table-transactions/table-transactions.component.ts
  src/app/transactions/transaction-dialog/transaction-dialog.component.ts
  src/app/transactions/transactions/transactions.component.html
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

format
  src/app/transactions/table-transactions/table-transactions.component.html
  src/app/transactions/table-transactions/table-transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

recalculate balance
  src/app/accounts/accounts.module.ts
  src/app/accounts/accounts/accounts.component.html
  src/app/accounts/accounts/accounts.component.ts
  src/app/services/abstract.service.ts
  src/app/services/storage/accounts.service.ts
  src/app/services/stotage.module.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

format
  src/app/accounts/accounts/accounts.component.ts
  src/app/services/storage/accounts.service.ts
  src/app/services/storage/transactions.service.ts
Due: prettier --write

format
  src/app/services/storage/abstract.service.ts
Due: prettier --write

add 404 page
  src/app/app-routing.module.ts
  src/app/layout/layout.module.ts
  src/app/layout/not-found/not-found.component.html
  src/app/layout/not-found/not-found.component.scss
  src/app/layout/not-found/not-found.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

format
  src/app/layout/not-found/not-found.component.html
Due: js-beautify -s 2 -w 80 -r --html

format
  src/app/services/storage/tags.service.ts
  src/app/services/stotage.module.ts
  src/app/tags/tags.module.ts
  src/app/tags/tags/tags.component.ts
Due: prettier --write

fix set, add condition on path
  src/app/services/storage/database.service.ts
Due: prettier --write

format
  src/app/services/storage/database.service.ts
Due: prettier --write

fix table sorting
  src/app/transactions/table-transactions/table-transactions.component.html
  src/app/transactions/table-transactions/table-transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

empty state for transactions
  src/app/layout/drawer/drawer.component.html
  src/app/layout/drawer/drawer.component.scss
  src/app/transactions/transactions/transactions.component.html
  src/app/transactions/transactions/transactions.component.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

empty state for pie chart
  src/app/transactions/pie-chart/pie-chart.component.html
  src/app/transactions/pie-chart/pie-chart.component.scss
  src/app/transactions/pie-chart/pie-chart.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

delete transaction
  src/app/transactions/table-transactions/table-transactions.component.html
  src/app/transactions/table-transactions/table-transactions.component.ts
  src/app/transactions/transactions/transactions.component.html
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

edit transaction
  src/app/transactions/table-transactions/table-transactions.component.html
  src/app/transactions/table-transactions/table-transactions.component.ts
  src/app/transactions/transaction-dialog/transaction-dialog.component.html
  src/app/transactions/transaction-dialog/transaction-dialog.component.ts
  src/app/transactions/transactions/transactions.component.html
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

format
  src/app/transactions/transaction-dialog/transaction-dialog.component.ts
Due: prettier --write

add chart state
  src/app/transactions/pie-chart/pie-chart.component.ts
Due: prettier --write

remove conditions
  src/app/services/storage/database.service.ts
Due: prettier --write
