Repository ihor7016/buxy-ng2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, js-beautify -s 2 -w 80 -r --html

fix
  src/app/tags/tag-dialog/tag-dialog.component.ts
  src/app/tags/tags/tags.component.ts
Due: prettier --write

fixed account delete
  src/app/accounts/accounts/accounts.component.ts
Due: prettier --write

clean
  src/app/accounts/account-dialog/account-dialog.component.ts
Due: prettier --write

fix
  src/app/accounts/account-dialog/account-dialog.component.ts
Due: prettier --write

move services
  src/app/accounts/accounts/accounts.component.ts
  src/app/app.module.ts
  src/app/auth/auth-dialog/auth-dialog.component.ts
  src/app/auth/auth.module.ts
  src/app/auth/auth/auth.service.ts
  src/app/layout/layout/layout.component.ts
  src/app/layout/user-button/user-button.component.ts
  src/app/services/stotage.module.ts
  src/app/shared/services/color.service.ts
  src/app/shared/services/currency-uah.service.ts
  src/app/shared/shared.module.ts
  src/app/storage/services/abstract.service.ts
  src/app/storage/services/accounts.service.ts
  src/app/storage/services/database.service.ts
  src/app/storage/services/tags.service.ts
  src/app/storage/services/transactions.service.ts
  src/app/storage/stotage.module.ts
  src/app/tags/tags/tags.component.ts
  src/app/transactions/pie-chart/pie-chart.component.ts
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write

typo
  src/app/app.module.ts
  src/app/storage/storage.module.ts
Due: prettier --write

beautify not found
  src/app/layout/not-found/not-found.component.html
  src/app/layout/not-found/not-found.component.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

extract module transactions charts
  src/app/shared/charts/bar-chart/bar-chart.component.html
  src/app/shared/charts/bar-chart/bar-chart.component.ts
  src/app/shared/charts/pie-chart/pie-chart.component.html
  src/app/shared/charts/pie-chart/pie-chart.component.scss
  src/app/shared/charts/pie-chart/pie-chart.component.ts
  src/app/shared/shared.module.ts
  src/app/transactions/bar-chart/bar-chart.component.html
  src/app/transactions/bar-chart/bar-chart.component.ts
  src/app/transactions/pie-chart/pie-chart.component.html
  src/app/transactions/transactions-charts/transactions-charts.module.ts
  src/app/transactions/transactions-charts/transactions-charts/bar-chart-data.interface.ts
  src/app/transactions/transactions-charts/transactions-charts/pie-chart-color.interface.ts
  src/app/transactions/transactions-charts/transactions-charts/pie-chart-data.interface.ts
  src/app/transactions/transactions-charts/transactions-charts/transactions-charts.component.html
  src/app/transactions/transactions-charts/transactions-charts/transactions-charts.component.scss
  src/app/transactions/transactions-charts/transactions-charts/transactions-charts.component.spec.ts
  src/app/transactions/transactions-charts/transactions-charts/transactions-charts.component.ts
  src/app/transactions/transactions.module.ts
  src/app/transactions/transactions/transactions.component.html
  src/app/transactions/transactions/transactions.component.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

draw charts from charts component
  src/app/shared/charts/bar-chart/bar-chart.component.html
  src/app/shared/charts/bar-chart/bar-chart.component.ts
  src/app/transactions/transactions-charts/transactions-charts/transactions-charts.component.html
  src/app/transactions/transactions-charts/transactions-charts/transactions-charts.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

return actual data display
  src/app/shared/charts/bar-chart/bar-chart.component.ts
  src/app/shared/charts/pie-chart/pie-chart.component.ts
  src/app/transactions/transactions-charts/transactions-charts/transactions-charts.component.ts
  src/app/transactions/transactions/transactions.component.html
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

avoid comparing nested objects
  src/app/transactions/transactions-charts/transactions-charts/transactions-charts.component.ts
Due: prettier --write

format
  src/app/transactions/transactions-charts/transactions-charts/interfaces/bar-chart-data.interface.ts
  src/app/transactions/transactions-charts/transactions-charts/interfaces/pie-chart-color.interface.ts
  src/app/transactions/transactions-charts/transactions-charts/interfaces/pie-chart-data.interface.ts
  src/app/transactions/transactions-charts/transactions-charts/transactions-charts.component.ts
Due: prettier --write

format
  src/app/transactions/transactions-charts/transactions-charts/transactions-charts.component.ts
  src/app/transactions/transactions/transactions.component.html
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

fix pie redrawing
  src/app/transactions/transactions-charts/transactions-charts/transactions-charts.component.ts
Due: prettier --write

update method
  src/app/transactions/transactions-charts/transactions-charts/transactions-charts.component.ts
Due: prettier --write

add types
  src/app/accounts/accounts/accounts.component.ts
Due: prettier --write

add types
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write

filter instead of if(result)
  src/app/accounts/accounts/accounts.component.ts
  src/app/shared/about-dialog/about-dialog.component.html
  src/app/shared/about-dialog/about-dialog.component.ts
  src/app/shared/button-more/button-more.component.ts
  src/app/tags/tags/tags.component.ts
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

unsubscribe from valueChanges
  src/app/accounts/account-dialog/account-dialog.component.ts
  src/app/tags/tag-dialog/tag-dialog.component.ts
  src/app/transactions/transaction-dialog/transaction-dialog.component.ts
Due: prettier --write

separate styles
  src/app/accounts/account-dialog/account-dialog.component.scss
  src/app/accounts/account-dialog/account-dialog.component.ts
  src/app/accounts/accounts/accounts.component.scss
  src/app/accounts/accounts/accounts.component.ts
  src/app/auth/auth-dialog/auth-dialog.component.scss
  src/app/auth/auth-dialog/auth-dialog.component.ts
  src/app/shared/about-dialog/about-dialog.component.scss
  src/app/shared/about-dialog/about-dialog.component.ts
  src/app/shared/confirm-dialog/confirm-dialog.component.scss
  src/app/shared/confirm-dialog/confirm-dialog.component.ts
  src/app/styles/theme.scss
  src/app/tags/tag-dialog/tag-dialog.component.scss
  src/app/tags/tag-dialog/tag-dialog.component.ts
  src/app/tags/tags/tags.component.scss
  src/app/tags/tags/tags.component.ts
  src/app/transactions/transaction-dialog/transaction-dialog.component.scss
  src/app/transactions/transaction-dialog/transaction-dialog.component.ts
  src/styles.scss
Due: prettier --write

exptract subscribes
  src/app/accounts/accounts/accounts.component.ts
  src/app/tags/tags/tags.component.ts
  src/app/transactions/transactions/transactions.component.html
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

handle error
  src/app/shared/error/error.component.html
  src/app/shared/error/error.component.scss
  src/app/shared/error/error.component.spec.ts
  src/app/shared/error/error.component.ts
  src/app/shared/error/error.service.ts
  src/app/shared/shared.module.ts
  src/app/storage/services/database.service.ts
  src/app/transactions/transactions/transactions.component.html
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

add charts service
  src/app/transactions/transactions-charts/transactions-charts.module.ts
  src/app/transactions/transactions-charts/transactions-charts/interfaces/pie-chart-color.interface.ts
  src/app/transactions/transactions-charts/transactions-charts/interfaces/pie-chart-tags.interface.ts
  src/app/transactions/transactions-charts/transactions-charts/transactions-charts.component.spec.ts
  src/app/transactions/transactions-charts/transactions-charts/transactions-charts.component.ts
  src/app/transactions/transactions-charts/transactions-charts/transactions-charts.service.ts
Due: prettier --write

format
  src/app/transactions/transactions.module.ts
Due: prettier --write

create service
  src/app/accounts/accounts.module.ts
  src/app/accounts/accounts/accounts-data.service.ts
  src/app/accounts/accounts/accounts.component.ts
Due: prettier --write

add types, remove unneded subscription, move metod to service
  src/app/accounts/accounts/accounts-data.service.ts
  src/app/accounts/accounts/accounts.component.ts
Due: prettier --write

color service test
  src/app/shared/services/tests/color.service.spec.ts
Due: prettier --write

move to beforeAll
  src/app/shared/services/tests/color.service.spec.ts
Due: prettier --write

format
  src/app/shared/services/tests/color.service.spec.ts
Due: prettier --write

mock dependencies
  src/app/storage/services/tests/database.service.spec.ts
Due: prettier --write

db test
  src/app/storage/services/tests/database.service.spec.ts
Due: prettier --write

format
  src/app/storage/services/tests/database.service.spec.ts
Due: prettier --write

Add auth guard
  src/app/app-routing.module.ts
  src/app/auth/auth.module.ts
  src/app/auth/auth/auth-guard.service.ts
  src/app/auth/auth/auth.service.ts
  src/app/auth/auth/main-guard.service.ts
Due: prettier --write

imports
  src/app/app-routing.module.ts
Due: prettier --write

removed reset
  src/app/auth/auth-dialog/auth-dialog.component.html
Due: js-beautify -s 2 -w 80 -r --html

add types
  src/app/storage/services/tests/database.service.spec.ts
Due: prettier --write

add coverage
  package.json
Due: prettier --write

generate spec
  src/app/layout/layout/layout.component.spec.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,ts,json,css,scss}
  js-beautify -s 2 -w 80 -r --html: any of: *.html
