Repository ihor7016/buxy-ng2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, js-beautify -s 2 -w 80 -r --html

group components
  src/app/accounts/accounts.module.ts
  src/app/accounts/accounts/accounts.component.html
  src/app/accounts/accounts/accounts.component.ts
  src/app/app.module.ts
  src/app/app/app.component.html
  src/app/app/app.component.ts
  src/app/tags/tags.module.ts
  src/app/tags/tags/tags.component.html
  src/app/tags/tags/tags.component.scss
  src/app/tags/tags/tags.component.ts
  src/app/transactions/transactions.module.ts
  src/app/transactions/transactions/transactions.component.html
  src/app/transactions/transactions/transactions.component.scss
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

rename
  package-lock.json
  src/app/app.module.ts
  src/app/services/storage.service.ts
Due: prettier --write

add observable
  src/app/services/storage.service.ts
Due: prettier --write

removed unnesessary properties & imports
  src/app/styles/chart.scss
  src/app/transactions/bar-chart/bar-chart.component.ts
Due: prettier --write

added Material colors
  src/app/styles/chart.scss
  src/app/transactions/pie-chart/pie-chart.component.html
  src/app/transactions/pie-chart/pie-chart.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

upd
  src/app/styles/chart.scss
  src/app/transactions/bar-chart/bar-chart.component.html
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

move in transaction component
  src/app/transactions/table-transactions/table-transactions.component.html
  src/app/transactions/table-transactions/table-transactions.component.ts
  src/app/transactions/transactions.module.ts
  src/app/transactions/transactions/transactions.component.html
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

del auth, change rules
  database.rules.json
  src/app/services/storage.service.ts
Due: prettier --write

format
  package.json
Due: prettier --write

rename service
  src/app/services/db.service.ts
Due: prettier --write

rename
  src/app/services/database.service.ts
Due: prettier --write

add required
  src/app/transactions/transaction-dialog/transaction-dialog.component.html
  src/app/transactions/transaction-dialog/transaction-dialog.component.ts
  src/app/transactions/transactions.module.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

add pattern
  src/app/transactions/transaction-dialog/transaction-dialog.component.html
  src/app/transactions/transaction-dialog/transaction-dialog.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

format
  src/app/transactions/transaction-dialog/transaction-dialog.component.ts
  src/app/transactions/transactions.module.ts
Due: prettier --write

register button
  src/app/auth/auth.component.html
  src/app/auth/auth.component.ts
  src/app/services/auth.service.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

move to auth folder
  src/app/app-routing.module.ts
  src/app/auth/auth.module.ts
  src/app/auth/auth/auth.component.html
  src/app/auth/auth/auth.component.scss
  src/app/auth/auth/auth.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

repairs
  src/app/app-routing.module.ts
  src/app/auth/auth.module.ts
  src/app/auth/auth/auth.component.html
  src/app/main/main.component.scss
  src/app/main/main.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

send description, not account
  src/app/transactions/table-transactions/table-transactions.component.html
Due: js-beautify -s 2 -w 80 -r --html

styles, format
  src/app/styles/dialog.scss
  src/app/transactions/transaction-dialog/transaction-dialog.component.html
  src/app/transactions/transaction-dialog/transaction-dialog.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

move pattern
  src/app/transactions/transaction-dialog/transaction-dialog.component.html
  src/app/transactions/transaction-dialog/transaction-dialog.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

rename invalid
  src/app/transactions/transaction-dialog/transaction-dialog.component.html
Due: js-beautify -s 2 -w 80 -r --html

appliedresponsive behaviour to the charts
  src/app/styles/chart.scss
  src/app/transactions/bar-chart/bar-chart.component.html
  src/app/transactions/bar-chart/bar-chart.component.ts
  src/app/transactions/pie-chart/pie-chart.component.html
  src/app/transactions/pie-chart/pie-chart.component.ts
  src/app/transactions/transactions.module.ts
  src/app/transactions/transactions/transactions.component.html
  src/app/transactions/transactions/transactions.component.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

update version
  package.json
Due: prettier --write

removed unnecessary properties
  src/app/transactions/transactions/transactions.component.scss
Due: prettier --write

changed charts' background
  src/app/transactions/transactions/transactions.component.scss
Due: prettier --write

delete FormsModule
  ng
  src/app/auth/auth.module.ts
Due: prettier --write

added divider
  package-lock.json
  src/app/layout/drawer/drawer.component.html
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

clean
  src/app/app.module.ts
  src/app/transactions/transactions.module.ts
Due: prettier --write

resolved bug
  src/app/transactions/pie-chart/pie-chart.component.ts
Due: prettier --write

clean code
  src/app/shared/confirm-dialog/confirm-dialog.component.ts
Due: prettier --write

upd
  src/app/transactions/pie-chart/pie-chart.component.ts
Due: prettier --write

impl account validation, add Account type
  src/app/accounts/account-dialog/account-dialog.component.html
  src/app/accounts/account-dialog/account-dialog.component.ts
  src/app/models/account.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

move data to accounts
  src/app/accounts/account-dialog/account-dialog.component.ts
  src/app/accounts/accounts/accounts.component.html
  src/app/accounts/accounts/accounts.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

rename forbidden => existing
  src/app/accounts/account-dialog/account-dialog.component.html
  src/app/accounts/account-dialog/account-dialog.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

add checking for current account to edit
  src/app/accounts/account-dialog/account-dialog.component.ts
Due: prettier --write

validation
  src/app/auth/auth/auth.component.html
  src/app/auth/auth/auth.component.scss
  src/app/auth/auth/auth.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

add theme
  src/app/styles/theme.scss
  src/styles.scss
Due: prettier --write

position
  src/app/auth/auth/auth.component.html
  src/app/auth/auth/auth.component.scss
  src/app/auth/auth/auth.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

button Sign out full container width
  src/app/layout/toolbar/toolbar-user/toolbar-user.component.html
  src/app/layout/toolbar/toolbar-user/toolbar-user.component.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

Path conditions:
  prettier --write: any of: *.{js,ts,json,css,scss}
  js-beautify -s 2 -w 80 -r --html: any of: *.html
