Repository ihor7016/buxy-ng2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, js-beautify -s 2 -w 80 -r --html

.lintstagedrc:

{
  "linters": {
    "*.{js,ts,json,css,scss}": ["prettier --write", "git add"],
    "*.html": ["js-beautify -s 2 -w 80 -r --html", "git add"]
  }
}

refactoring
  src/app/auth/auth-dialog/auth-dialog.component.html
Due: js-beautify -s 2 -w 80 -r --html

fixed
  src/app/auth/auth/auth.component.ts
Due: prettier --write

Display after 0 seconds and clean code
  src/app/auth/auth/auth.component.ts
Due: prettier --write

mergeMAp
  src/app/services/database.service.ts
Due: prettier --write

fix user
  src/app/services/database.service.ts
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write

fix user
  src/app/services/database.service.ts
Due: prettier --write

make service
  src/app/services/transactions.service.ts
Due: prettier --write

impl add func
  src/app/app.module.ts
  src/app/services/transactions.service.ts
  src/app/transactions/transaction-dialog/transaction-dialog.component.html
  src/app/transactions/transactions.module.ts
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

data in table from db
  src/app/auth/auth-dialog/auth-dialog.component.html
  src/app/services/database.service.ts
  src/app/transactions/table-transactions/table-transactions.component.html
  src/app/transactions/table-transactions/table-transactions.component.ts
  src/app/transactions/transactions/transactions.component.html
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

try to add nested info
  src/app/transactions/table-transactions/table-transactions.component.html
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

adding accouts
  src/app/accounts/account-dialog/account-dialog.component.html
  src/app/accounts/account-dialog/account-dialog.component.ts
  src/app/accounts/accounts.module.ts
  src/app/accounts/accounts/accounts.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

add account
  src/app/accounts/accounts/accounts.component.ts
Due: prettier --write

added tads
  src/app/tags/tag-dialog/tag-dialog.component.html
  src/app/tags/tag-dialog/tag-dialog.component.ts
  src/app/tags/tags.module.ts
  src/app/tags/tags/tags.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

added tag service
  src/app/services/tags.service.ts
  src/app/tags/tags.module.ts
  src/app/tags/tags/tags.component.ts
Due: prettier --write

accounts service
  src/app/accounts/accounts.module.ts
  src/app/accounts/accounts/accounts.component.ts
  src/app/services/accounts.service.ts
Due: prettier --write

add accounts and tags info in table
  src/app/services/database.service.ts
  src/app/transactions/table-transactions/table-transactions.component.html
  src/app/transactions/table-transactions/table-transactions.component.ts
  src/app/transactions/transactions/transactions.component.html
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

add storage module
  src/app/app.module.ts
  src/app/auth/auth-dialog/auth-dialog.component.html
  src/app/services/storage.module.ts
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

format
  src/app/transactions/transactions.module.ts
Due: prettier --write

show acccounts in reverse order
  src/app/accounts/accounts/accounts.component.ts
Due: prettier --write

database path
  src/app/app.module.ts
  src/app/services/currency-converter-UAH.service.ts
  src/app/services/database.service.ts
  src/app/services/services.module.ts
  src/app/services/storage.module.ts
  src/app/transactions/table-transactions/table-transactions.component.html
  src/app/transactions/table-transactions/table-transactions.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

rewrite path hosting config
  firebase.json
Due: prettier --write

selects subscription, reverse
  src/app/services/currency-converter-UAH.service.ts
  src/app/services/services.module.ts
  src/app/transactions/table-transactions/table-transactions.component.ts
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write

format
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write

subscribe
  src/app/services/database.service.ts
  src/app/transactions/table-transactions/table-transactions.component.ts
  src/app/transactions/transactions/transactions.component.ts
Due: prettier --write

add rule to router
  src/app/app-routing.module.ts
Due: prettier --write

fixed auth
  src/app/app-routing.module.ts
  src/app/auth/auth/auth.component.ts
  src/app/services/auth-guard.service.ts
  src/app/services/auth.service.ts
Due: prettier --write

generic type for returned value
  src/app/services/accounts.service.ts
  src/app/services/database.service.ts
Due: prettier --write

generic type for tag
  src/app/services/database.service.ts
  src/app/services/tags.service.ts
Due: prettier --write

missed
  src/app/services/database.service.ts
Due: prettier --write

add tags at start
  src/app/tags/tags/tags.component.ts
Due: prettier --write

add generic
  src/app/services/database.service.ts
  src/app/services/transactions.service.ts
Due: prettier --write

delete flatMap and type
  src/app/accounts/accounts/accounts.component.ts
Due: prettier --write

delete flatMap
  src/app/tags/tags/tags.component.ts
Due: prettier --write

clean
  src/app/tags/tags/tags.component.ts
Due: prettier --write

remove
  src/app/auth/auth.module.ts
Due: prettier --write

remove guard
  src/app/auth/auth.module.ts
Due: prettier --write

retrieve data after path receiving
  src/app/services/database.service.ts
Due: prettier --write
