Repository ihor7016/buxy-ng2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, js-beautify -s 2 -w 80 -r --html

add rules
  database.rules.json
  firebase.json
Due: prettier --write

rules only for auth
  database.rules.json
Due: prettier --write

errors corrected
  src/app/table-transactions/table-transactions.component.ts
Due: prettier --write

clean
  src/app/auth/auth.component.html
  src/app/auth/auth.component.spec.ts
  src/app/services/auth-guard.service.spec.ts
  src/app/services/auth.service.spec.ts
  src/app/services/auth.service.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

amend last push
  src/app/auth/auth.module.ts
  src/app/main/main.component.html
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

fixed compile
  src/app/services/auth.service.ts
Due: prettier --write

clean code
  src/app/app.component.ts
  src/app/tags/tags.component.ts
Due: prettier --write

clean
  src/app/tags/tags.component.ts
Due: prettier --write

make layout module
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/dialog/dialog.scss
  src/app/layout/about-dialog/about-dialog.component.html
  src/app/layout/about-dialog/about-dialog.component.ts
  src/app/layout/drawer/drawer.component.html
  src/app/layout/drawer/drawer.component.scss
  src/app/layout/drawer/drawer.component.ts
  src/app/layout/layout.module.ts
  src/app/layout/toolbar/toolbar.component.html
  src/app/layout/toolbar/toolbar.component.scss
  src/app/layout/toolbar/toolbar.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

added sorting module
  src/app/table-transactions/table-transactions.component.html
  src/app/table-transactions/table-transactions.component.scss
  src/app/transactions/transactions.component.html
  src/app/transactions/transactions.component.scss
  src/app/transactions/transactions.module.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

dumb not working
  src/app/app.module.ts
  src/app/layout/layout.module.ts
Due: prettier --write

upd
  src/app/table-transactions/table-transactions.component.html
  src/app/table-transactions/table-transactions.component.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

removed duplicate modules
  src/app/material/material.module.ts
  src/app/transactions/transactions.module.ts
Due: prettier --write

fixed signin
  src/app/services/auth.service.ts
Due: prettier --write

changed LEgend for Label
  src/app/bar-chart/bar-chart.component.ts
Due: prettier --write

Revert "dumb not working"
  src/app/app.module.ts
  src/app/layout/layout.module.ts
Due: prettier --write

move all into layout
  src/app/layout/about-dialog/about-dialog.component.ts
  src/app/layout/accounts/account-dialog/account-dialog.component.html
  src/app/layout/accounts/account-dialog/account-dialog.component.ts
  src/app/layout/accounts/accounts.component.html
  src/app/layout/accounts/accounts.component.ts
  src/app/layout/accounts/accounts.module.ts
  src/app/layout/layout.module.ts
  src/app/layout/material/material.module.ts
  src/app/layout/shared/button-more/button-more.component.html
  src/app/layout/shared/button-more/button-more.component.ts
  src/app/layout/shared/shared.module.ts
  src/app/layout/styles/dialog.scss
  src/app/layout/styles/drawer-menu.scss
  src/app/layout/tags/tag-dialog/tag-dialog.component.html
  src/app/layout/tags/tag-dialog/tag-dialog.component.ts
  src/app/layout/tags/tags.component.html
  src/app/layout/tags/tags.component.scss
  src/app/layout/tags/tags.component.ts
  src/app/layout/tags/tags.module.ts
  src/app/layout/transactions/transaction-dialog/transaction-dialog.component.html
  src/app/layout/transactions/transaction-dialog/transaction-dialog.component.ts
  src/app/layout/transactions/transactions.component.html
  src/app/layout/transactions/transactions.component.scss
  src/app/layout/transactions/transactions.component.ts
  src/app/layout/transactions/transactions.module.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

move table
  src/app/drawer-menu/drawer-menu.scss
  src/app/layout/transactions/table-transactions/table-transactions.component.html
  src/app/layout/transactions/table-transactions/table-transactions.component.scss
  src/app/layout/transactions/table-transactions/table-transactions.component.ts
  src/app/layout/transactions/transactions.module.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

add shaddow to drawer
  src/app/layout/drawer/drawer.component.html
Due: js-beautify -s 2 -w 80 -r --html

create confirm layout
  src/app/shared/confirm-dialog/confirm-dialog.component.html
  src/app/shared/confirm-dialog/confirm-dialog.component.ts
  src/app/shared/shared.module.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

signin page
  src/app/app.module.ts
  src/app/auth/auth.component.html
  src/app/auth/auth.component.scss
  src/app/auth/auth.component.ts
  src/app/auth/auth.module.ts
  src/app/material/material.module.ts
  src/app/services/auth-guard.service.ts
  src/app/services/auth.service.ts
  src/app/toolbar/toolbar-user/toolbar-user.component.html
  src/app/toolbar/toolbar-user/toolbar-user.component.scss
  src/app/toolbar/toolbar-user/toolbar-user.component.ts
  src/app/toolbar/toolbar.component.html
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

resolved conflicts & moved imports from app module to material module
  package-lock.json
  package.json
  src/app/bar-chart/bar-chart.component.html
  src/app/bar-chart/bar-chart.component.scss
  src/app/bar-chart/bar-chart.component.ts
  src/app/material/material.module.ts
  src/app/table-transactions/table-transactions.component.scss
  src/app/transactions/transactions.component.html
  src/app/transactions/transactions.module.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

auth implementation
  src/app/services/auth-guard.service.ts
  src/app/toolbar/toolbar-user/toolbar-user.component.html
  src/app/toolbar/toolbar-user/toolbar-user.component.scss
  src/app/toolbar/toolbar-user/toolbar-user.component.ts
  src/app/toolbar/toolbar.component.html
  src/assets/noavatar.png
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

added z-index
  src/app/toolbar/toolbar-user/toolbar-user.component.html
  src/app/toolbar/toolbar-user/toolbar-user.component.scss
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

about to shared, modules to root
  src/app/accounts/account-dialog/account-dialog.component.html
  src/app/accounts/account-dialog/account-dialog.component.ts
  src/app/accounts/accounts.component.html
  src/app/accounts/accounts.component.ts
  src/app/accounts/accounts.module.ts
  src/app/layout/layout.module.ts
  src/app/layout/shared/shared.module.ts
  src/app/layout/toolbar/toolbar.component.ts
  src/app/material/material.module.ts
  src/app/shared/about-dialog/about-dialog.component.html
  src/app/shared/about-dialog/about-dialog.component.ts
  src/app/shared/button-more/button-more.component.html
  src/app/shared/button-more/button-more.component.ts
  src/app/shared/shared.module.ts
  src/app/styles/dialog.scss
  src/app/styles/drawer-menu.scss
  src/app/tags/tag-dialog/tag-dialog.component.html
  src/app/tags/tag-dialog/tag-dialog.component.ts
  src/app/tags/tags.component.html
  src/app/tags/tags.component.scss
  src/app/tags/tags.component.ts
  src/app/tags/tags.module.ts
  src/app/transactions/table-transactions/table-transactions.component.html
  src/app/transactions/table-transactions/table-transactions.component.scss
  src/app/transactions/table-transactions/table-transactions.component.ts
  src/app/transactions/transaction-dialog/transaction-dialog.component.html
  src/app/transactions/transaction-dialog/transaction-dialog.component.ts
  src/app/transactions/transactions.component.html
  src/app/transactions/transactions.component.scss
  src/app/transactions/transactions.component.ts
  src/app/transactions/transactions.module.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

move entry
  src/app/layout/layout.module.ts
  src/app/shared/shared.module.ts
Due: prettier --write

errors corrections
  src/app/material/material.module.ts
  src/app/transactions/bar-chart/bar-chart.component.html
  src/app/transactions/bar-chart/bar-chart.component.ts
  src/app/transactions/bar-chart/charts.scss
  src/app/transactions/transactions.module.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

moved charts.scss to styles folder
  src/app/styles/charts.scss
  src/app/transactions/bar-chart/bar-chart.component.html
  src/app/transactions/bar-chart/bar-chart.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

renamed charts.scss for chart.scss
  src/app/styles/chart.scss
  src/app/transactions/bar-chart/bar-chart.component.ts
Due: prettier --write

remodev fixed width
  src/app/styles/chart.scss
Due: prettier --write

upd
  src/app/styles/chart.scss
Due: prettier --write

removed animation dopdown
  src/app/layout/toolbar/toolbar-user/toolbar-user.component.scss
Due: prettier --write

clean code
  src/app/main/main.component.spec.ts
  src/app/main/main.component.ts
Due: prettier --write

pie chart
  package-lock.json
  package.json
  src/app/styles/chart.scss
  src/app/transactions/pie-chart/pie-chart.component.html
  src/app/transactions/pie-chart/pie-chart.component.ts
  src/app/transactions/transactions.component.html
  src/app/transactions/transactions.module.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

imports
  src/app/accounts/account-dialog/account-dialog.component.ts
  src/app/auth/auth.component.ts
  src/app/auth/auth.module.ts
  src/app/layout/toolbar/toolbar.component.ts
  src/app/services/auth-guard.service.ts
  src/app/tags/tag-dialog/tag-dialog.component.ts
  src/app/transactions/table-transactions/table-transactions.component.ts
  src/app/transactions/transaction-dialog/transaction-dialog.component.ts
Due: prettier --write

table-transaction popup
  src/app/transactions/table-transactions/table-transactions.component.html
  src/app/transactions/table-transactions/table-transactions.component.scss
  src/app/transactions/table-transactions/table-transactions.component.ts
  src/app/transactions/transactions.module.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

send data to del
  src/app/accounts/accounts.component.html
  src/app/accounts/accounts.component.ts
  src/app/shared/button-more/button-more.component.ts
  src/app/shared/confirm-dialog/confirm-dialog.component.html
  src/app/tags/tags.component.html
  src/app/tags/tags.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

name type
  src/app/shared/button-more/button-more.component.ts
Due: prettier --write

clean
  src/app/accounts/accounts.component.html
  src/app/tags/tags.component.html
  src/app/tags/tags.component.scss
  src/app/tags/tags.component.ts
Due: prettier --write, js-beautify -s 2 -w 80 -r --html

Path conditions:
  prettier --write: any of: *.{js,ts,json,css,scss}
  js-beautify -s 2 -w 80 -r --html: any of: *.html
